.input-text{
    width: 40vw;
    height: 25vh;
    white-space: pre-wrap;
    word-wrap: break-word;
}



.grid-item{
    width: 10vw;
    border-radius: 10px;
    border:  1px solid black; 
}

.grid-item > h1{
    font-size: small;
}

.grid-item > h2{
    font-size: small;
}

.grid-wrapper{
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(6, 0.8fr);
    grid-template-rows: repeat(60, 0.25fr);
    grid-column-gap: 10px;
}