.input-text{
    width: 40vw;
    height: 25vh;
}


.grid-item{

    width: 10vw;
    height: auto;
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
}

.grid-item > h1{
    font-size: small;
}

.grid-item > h2{
    font-size: small;
}


.grid-wrapper{
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(6, 0.2fr);
    grid-template-rows: repeat(60, 0.05fr);
    grid-gap: 10px;
}